/* Profile page styles */

.profile {
  display: flex;
  max-width: 1360px;
  margin: 0 auto;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    gap: 16px;
  }
}