/* Sidebar styles */

.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 229px;
  height: 56px;
  opacity: 1;
  gap: 16px;
  box-sizing: border-box;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.sidebar__username {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  color: inherit;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    min-height: 56px;
  }
  
  .sidebar__avatar {
    width: 32px;
    height: 32px;
  }
  
  .sidebar__username {
    font-size: 18px;
    line-height: 22px;
  }
}