/* Center main app content using flexbox */
.app-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 32px auto 24px auto;
	max-width: 1360px;
	min-width: 320px;
	box-sizing: border-box;
}
