.main {
  flex: 1;
  padding: 2rem;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  box-sizing: border-box;
}
