.main__title {
  width: 100%;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 14px;
}
.main {
  flex: 1;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1360px;
  box-sizing: border-box;
  margin-bottom: 85px;
}
