.profile {
  display: flex;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
  margin-bottom: 85px;
}

.profile__sidebar {
  min-width: 200px;
  flex-shrink: 0;
}

.profile__clothing-section {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  
  .profile__sidebar {
    min-width: unset;
    width: 100%;
    max-width: 400px;
  }
  
  .profile__clothing-section {
    width: 100%;
  }
}
