.weather-card {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background:
    url('/src/assets/weather-backgrounds/weather-cloudy-day.svg') right
      center/cover no-repeat,
    rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.weather-card__temp {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
  color: #fff;
  background: transparent;
  vertical-align: middle;
  padding: 0 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
