
/* Global Cabinet Grotesk font import */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/src/assets/fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/src/assets/fonts/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(243, 243, 243, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}