
/* Global Cabinet Grotesk font import */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/src/assets/fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/src/assets/fonts/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 32px auto 24px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(243, 243, 243, 1);
  max-width: 1360px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}